@import url('https://fonts.googleapis.com/css?family=Cabin');

* {margin:0;padding:0;box-sizing:border-box;}

body{
	background-color: #88c2cd;
}
h1, h2, h3, p, ul, #button {
	font-family: 'Cabin';
}
section, footer {
	padding:5em 4em;

}
h1 {
	font-size: 2.75em;
	font-weight: bold;
}
h2 {
	font-size: 2.75em;
	font-weight: normal;
}
h3 {
	padding-top: .5em;
	font-size: 1.5em;
	font-weight: bold;
}
p {
	font-size: 1.5em;
	font-weight: normal;
	line-height: 1.25em;
	padding-top: .5em;
}
ul {
	font-size: 1.5em;
}
a {
	text-decoration: none;
	color: grey;
}
#intro {
	background: url(../images/hero.jpg);
	background-size: cover;
	height: 90vh;
}
#mission, .features, #outro, footer {
	color: white;
}
#left {
	float: left;
	width: 50%;
}
#right {
	float: right;
	width: 50%;
	padding-top: 10em;
}
.features:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
#button {
	display: inline;
	padding: 1em;
	border: 2px black solid;
	color: black;
	font-weight: bold;
	line-height: 15em;
}
#button:hover {
	background-color: #88c2cd;
	color: white;
	border: none;
}
footer {
	font-size: .5em;
	background: grey;
	padding-left: 7em;
}