* {margin:0;padding:0;box-sizing:border-box;}

@import url(https://fonts.googleapis.com/css?family=Cabin);

h1, h2, p {
	font-family: 'Cabin', sans-serif;
}
section {
	padding:5em 0;
}
p {
	font-size: 1.5em;
	line-height: 1.75em;
}
ul {
	padding:1.25em;
}
a {
	text-decoration: none;
	color: grey;
}
#intro {
	background: url(../images/hero.jpg);
	background-size: cover;
	height: 90vh;
}
