* {margin:0;padding:0;box-sizing:border-box;}
body {
	font-family: Helvetica;
}
section {
	padding:5em 0;
}
ul {
	padding:1.25em;
}
#intro {
	background: url("../images/hero.jpg");
	background-size: cover;
	height: 90vh;
}
