body {
	background: url("https://static1.squarespace.com/static/533a2ebce4b021231131d20a/t/5652a68be4b06cc32bba3fe5/1448257167817/?format=1500w");
	background-size: cover;
	color: #fff;
	font-family: Helvetica; 
}